{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

<!-- Message for name/email change -->
<div class="container"></div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>

<!-- Hello name -->
<div class="page-header container">
    <h1>Hello, {% if  name %}{{ name|capitalize }}{% else %}Stranger{% endif %}! Welcome to PRA2 Docker</h1>
    <h1>{% if email %}Your UofT email is {{ email }}{% else %}Please use your UofT email.{% endif %}</h1>
</div>

<!-- Datetime -->
<div class="container">
    <p>The local date and time is {{ moment(current_time).format('LLL') }}</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>

<!-- Form -->
<div class="container">
    {{ wtf.quick_form(form) }}    
</div>


{% endblock %}


